html, body {
    height: 100%;
    width: 100%;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

#container-page {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 2px);
    align-items: flex-start;
    justify-content: flex-start;
    border: 1px solid red;
    margin: 0px;
    padding: 0px
}


#container-room-area {
    border: 1px solid blue;
    width: 300px;
    height: calc(80vh - 2px);
}

#container-user-commands {
    border: 1px solid blue;
    width: 300px;
    height: calc(18vh - 3px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
}

#host-room-button {
    width: 100px;
    height: 50px;
    margin-bottom: 10px;
}

#join-room-button {
    width: 80px;
    height: 36px;
}

#join-room-key {
    width: 100px;
    height: 30px;
}


ul {
    margin: 0px;
    padding: 1px;
}


ul#list-rooms {
    display: flex;
    flex-direction: column;
    border: 1px solid forestgreen;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(81vh - 13px);
}


ul#list-messages {
    display: flex;
    flex-direction: column;
    border: 1px solid forestgreen;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(82vh - 25px);
    width: calc(80vw);
}


li {
    padding: 50px 0;
    padding-left: 10px;
    margin: 0px;
    border: 1px solid blue; 
    list-style: none;
    list-style-type: none;
    list-style-position: inside;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

li.empty-rooms {
    background-color: gray;
}

li.open-room {
    background-color: green;
}

li.chat-message {
    background-color: lightsteelblue;
}

#input-area {
    border: 1px solid purple;
    height: 18vh;
}

textarea {
    resize: none;
    border: 1px solid red;
    border-radius: 10px;
    padding: 5px 10px;
    height: calc(17vh - 2px);
    width: calc(80vw - 3px);
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    z-index:10;
}
/* 

#container-room-area {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    min-width: 300px;
    height: 99vh;
}


#container-chat-area {
    flex: 1;
    height: 80vh;
    width: 99vw;
    border: 2px solid green;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

nav ul {
    height: 81vh;
    width: 82vw;
    overflow: hidden; 
    overflow-y: scroll;
}

#list-messages {
    border: 1px solid black;
    padding: 10px;    
}

.message {
    padding: 10px;  
    list-style: none;
}

#chatbox {
    width: 82vw;
    height: 80vh;
    border: 2px solid black;
    border-radius: 5px;
    background-color: antiquewhite;
    display: flex;
    flex-direction:column;
    justify-content: flex-end;
}


#input-txt {
    width: 82vw;
    height: 15vh;
    border: 2px solid tomato;
    border-radius: 5px;
    background-color: azure;
}


#container-links {
    flex-direction: row;
}

.room-link {
    padding: 0 10px
}

#joinLink, #watchLink {
    display: none;
    visibility: hidden;
}


 */
